<!DOCTYPE html>

<html lang="es">



<head>

    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Politicas de privacidad</title>

    <meta name="description" content="" />

    <meta name="keywords" content="" />

    <meta name="geo.region" content="PE" />

    <meta name="geo.placename" content="Lima" />

    <meta name="DC.Language" scheme="RFC1766" content="Spanish" />

    <meta name="DC.language" scheme="ISO639-1" content="es" />

    <!-- Favicons -->

    <link rel="apple-touch-icon" sizes="144x144" href="" />

    <link rel="apple-touch-icon" sizes="114x114" href="" />

    <link rel="apple-touch-icon" sizes="72x72" href="" />

    <link rel="apple-touch-icon" href="" />

    <link rel="shortcut icon" href="/images/favicon-agentebitcoin.png" />

    <!-- styles -->

    <link rel="stylesheet" href="/css/global-style.css" />

    <link rel="stylesheet" href="/css/landing-style.css" />

    <link rel="stylesheet" href="/css/landing-responsive.css" />

    <link rel="stylesheet" href="/css/politicas.css" />

    <!-- Script-FontAwesome -->

    <script src="https://kit.fontawesome.com/660257203e.js" crossorigin="anonymous"></script>

</head>



<body>

    <header>

        <div class="container">

            <div class="logo">

                <a href="../index1.html"><img src="/images/logo-agentebitcoin.svg" alt="logo-agente-bitcoin" /></a>

            </div>



            <nav class="botonera" id="botonera">

                <ul class="navegation">

                    <li><a href="/acercade" title="about">Acerca de</a></li>
                    <li><a href="/soporte" title="soporte">Soporte</a></li>
                    <li><a href="/noticias" title="noticias">Noticias</a></li>
                </ul>



                <ul class="register">

                    <li><a href="#" id="login" title="login">Iniciar Sesion</a></li>

                    <li>

                        <a href="/registro" id="register" title="register">Registrarse</a>

                    </li>

                </ul>

            </nav>

            <span class="btn-menu" id="btn-menu"><i class="fas fa-bars"></i></span>

        </div>

    </header>
    <!-- POP UP DEL LOGIN -->

    <div class="overlay" id="overlay">
        <div class="popup-login" id="popup-login">
            <a href="#" id="popup-close" class="popup-close">
                <img src="/images/close.svg" alt="popup-close" /></a>

            <div class="form-login">
                <form action="#" method="POST">
                    <h3>Iniciar Sesión</h3>
                    <div class="datos-login-pop"> 
                        <div> 
                            <input class="email" type="text" placeholder="Correo Electrónico" />
                            <!-- Alerta validación -->
                            <p class="alert" style="display: none;" id="alert-correo"></p>
                        </div>
                        <div>
                            <input class="password" type="password" placeholder="Contraseña" />
                             <!-- Alerta validación -->
                            <p class="alert" style="display: none;" id="alert-contraseña"></p>
                        </div>
                    </div>
                    <div class="succes">
                        <input type="submit" id="aceptar-login" name="aceptar-login" value="Entrar"/>
                        <a id="forget-password" href="#">Olvidé mi contraseña</a>
                    </div>

                    <div class="opciones-login">
                        <a href="#"><img src="/images/login-google.png" alt="" />Inicia con Google
                        </a>

                        <a href="#"><img src="/images/login-fb.png" alt="" />Inicia con Facebook
                        </a>
                    </div>

                    <div class="register-option">
                        <div class="first">
                            <p>¿No tienes cuenta?</p>

                            <a href="/registro">Registrate aquí</a>
                        </div>

                        <p class="mini">2021 Agencia Bitcoin</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Politicas de privacidad -->
    <section class="container-politicas">

        <ul>

            <li><a href="/">Inicio</a></li>

            <li><a class="noline" href="#">></a></li>

            <li><a class="noline" href="/aviso-legal/politicas-de-privacidad">Políticas de privacidad</a></li>

        </ul>

        <div class="politicas">

            <h1>Políticas de privacidad</h1>

            <div class="texto-politicas">

            <ol>
            <li><h2>Acerca de este sitio</h2></li>

              <p>El sitio web de AGENTEBITCOIN.COM (en adelante denominado el “sitio”) ofrece información sobre nuestra Empresa y sus actividades, y permite el acceso a ciertos servicios. A fin de garantizar el buen funcionamiento del sitio y la prestación de tales servicios, cuando usted (el “usuario”) accede al sitio recogemos algunos de sus datos personales.</p>
            <!--  -->
            <li><h2>¿Cuál es el alcance de esta política de privacidad?</h2></li>

              <p>En la presente política de privacidad se describen los tipos de datos de carácter personal que recogemos acerca de los usuarios del sitio, la manera de tratar esos datos y los fines de dicho tratamiento. Asimismo, se explica cómo pueden los usuarios ejercer sus derechos en relación con los datos personales recogidos a través del sitio.</p>
            <!--  -->
            <li><h2>¿Qué se entiende por datos de carácter personal?</h2></li>

              <p>“Datos de carácter personal” son todos los datos relativos a una persona física identificada o susceptible de ser identificada por medios a los que se pueda razonablemente recurrir.</p>

              <p>Por ejemplo, su nombre y su dirección de correo electrónico se pueden considerar datos de carácter personal.</p>
            <!--  -->
            <li><h2>¿Recogemos datos de carácter personal de los usuarios de nuestro sitio?</h2></li>

              <p>Cuando usted accede al sitio y a sus servicios nosotros recogemos datos de carácter personal de dos maneras:</p>

                <ul class="sub">
                  <li><h3>4.1. Recogida de datos como resultado del uso que usted hace del sitio</h3></li>

                    <p>Cuando usted visita el sitio o utiliza los servicios que le ofrece, se recogen datos de carácter personal a fin de garantizar el buen funcionamiento del sitio y la prestación de servicios. Concretamente, recogemos los siguientes tipos de datos personales:</p>

                      <ul>
                          <li><h4>Información de registro</h4></li>
                               <p>Esta incluye datos sobre cómo utiliza usted nuestros servicios, por ejemplo las páginas web que visita, la hora y la fecha de su visita, y su dirección de Protocolo Internet (IP).</p>

                          <li><h4>Información sobre el dispositivo y el navegador</h4></li>
                               <p>Se trata de datos sobre las características de su dispositivo y su navegador, como el tipo de sistema operativo y su versión, el tipo de navegador y los parámetros lingüísticos.
                               <br>
                               <br>
                               El tratamiento de tales datos es fruto del interés legítimo de la Empresa por recopilar estadísticas sobre la utilización del sitio y efectuar un seguimiento de este y de los servicios que ofrece, a fin de garantizar la seguridad de la red y la información.Asimismo, la información de registro y los datos sobre el dispositivo y el navegador se pueden utilizar para evaluar la fiabilidad de los mensajes enviados por los usuarios a el "sitio".
                               </p>

                        <li><h4>Información presente en las cookies</h4></li>
                             <p>El sitio utiliza cookies que pueden recoger datos de carácter personal con fines estadísticos, información introducida en los formularios que se rellenan en línea y, cuando el sitio incorpora servicios de terceros, datos contenidos en vídeos y en los botones de medios sociales. Puede usted configurar estas cookies en el menú de configuración de su navegador.</p>
                    </ul>

                  <li><h3>4.2. Datos que usted nos proporciona</h3></li>
                        <p>El sitio le permite proporcionarnos directamente datos personales, ya sea rellenando un formulario en el propio sitio o inscribiéndose en este para recibir uno de nuestros servicios.</p>

                        <ul>
                            <li><h4>Rellenando un formulario en el propio sitio</h4></li>
                               <p>Los usuarios pueden ponerse en contacto con nuestra Empresa llenando un formulario presente en el sitio. De este modo, puede usted proporcionarnos:</p>
                                <ul>
                                    <li>Datos de contacto</li>
                                    <p>Algunos formularios se puede exigir la comunicación de una dirección de e-mail; otro dato personal que usted proporcione es opcional.</p>

                                    <li>Datos personales sobre usted</li>
                                    <p>Dado que los formularios incluyen un campo de texto libre, puede usted facilitar datos de carácter personal suplementarios sobre su persona en su mensaje o en un archivo adjunto. La comunicación de tales datos personales es voluntaria.
                                    <br>
                                    <br>
                                    Por el simple hecho de suministrarnos esos datos, consiente usted que los tratemos. Sus datos de contacto pueden utilizarse para responder a su mensaje.
                                    <br>
                                    <br>
                                    No obstante, no transmitiremos estos datos a terceros sin su previa autorización.
                                    <br>
                                    <br>
                                    Además, su mensaje también puede contener:</p>

                                    <li>Datos personales sobre usted</li>
                                    <p>Algunos formularios se puede exigir la comunicación de una dirección de e-mail; otro dato personal que usted proporcione es opcional.</p>

                                    <li>Información complementaria</li>
                                    <p>Algunos formularios se puede exigir la comunicación de una dirección de e-mail; otro dato personal que usted proporcione es opcional.</p>
                                </ul>
                            <li><h4>Rellenando un formulario en el propio sitio</h4></li>
                            <p>Los usuarios pueden ponerse en contacto con nuestra Empresa llenando un formulario presente en el sitio. De este modo, puede usted proporcionarnos:</p>
                        </ul>
                </ul>
            <li>
                <h2>¿Cómo tratamos sus datos de carácter personal?</h2>
            </li>
            <p>
            Los datos de carácter personal que recogemos como resultado del uso que usted hace del sitio se tratan de acuerdo con los siguientes principios:
            </p>
            <ul class="sub">
                <li><h4>Tratamiento legítimo</h4></li>
                <p>
                Como se explica en la presente política de privacidad, sus datos de carácter personal solo se tratan previo consentimiento suyo o en el interés legítimo de la Organización.
                </p>

                <li><h4>Limitación de la finalidad</h4></li>
                <p>
                Sólo tratamos sus datos personales con los fines enumerados en la presente política de privacidad.
                </p>

                <li><h4>Calidad de los datos</h4></li>
                <p>
                Comprobamos la calidad de los datos que recibimos, para evaluar si son exactos, pertinentes, actuales y no excesivos con respecto a la finalidad para la que fueron recogidos.
                </p>

                <li><h4>Transparencia</h4></li>
                <p>
                Tratamos sus datos de carácter personal de un modo transparente, manteniéndole informado de por qué y cómo los tratamos, y de los medios a través de los cuales puede ejercer sus derechos.
                </p>

                <li><h4>Seguridad</h4></li>
                <p>
                Mantenemos sus datos seguros, protegiéndolos contra cualquier peligro que pueda vulnerar su integridad y confidencialidad.
                </p>

                <li><h4>Derechos de la persona objeto de los datos</h4></li>
                <p>
                Dispone usted del derecho de acceder a sus datos de carácter personal, rectificarlos y eliminarlos. Estos derechos se aclaran en la presente política de privacidad.
                </p>
            </ul>

            <li><h2>¿Durante cuánto tiempo conservamos sus datos de carácter personal?</h2></li>
            <p>Sus datos de carácter personal, tanto los recopilados como resultado de su uso del sitio como los que usted nos proporciona, se conservan durante un período inicial de cinco años o hasta que se ha alcanzado la finalidad para la que se recopilaron.</p>

            <li><h2>¿Revelamos sus datos de carácter personal?</h2></li>
                <p>Por regla general, no transmitiremos sus datos de carácter personal a terceros sin su consentimiento previo. No obstante, puede haber circunstancias en las que nos consideremos obligados a revelar tales datos con uno de los fines siguientes:</p>
                <ul class="lista-punto">
                    <li>La protección de sus intereses vitales, así como los de otras personas;</li>
                    <li>El reconocimiento, el ejercicio o la defensa de cualquier derecho de la Empresa en un procedimiento o acusación judicial;</li>
                    <li>La protección y la integridad del sitio y de los servicios prestados a través de él.</li>
                </ul>

            <li><h2>¿Qué pasa cuando hace usted clic en un enlace con un sitio web o una aplicación de una entidad externa? </h2></li>
                <p>Cuando hace usted clic en un enlace que le remita a un sitio web o una aplicación de una entidad externa, como sucede con los accesos a nuestros medios sociales, nuestra Empresa no se responsabiliza de los datos sobre su persona que pueda recoger ese sitio web o esa aplicación.
                <br> <br>
                Así pues, en tales casos nuestra política de privacidad deja de aplicarse, por lo que le aconsejaríamos que se informara sobre la política de privacidad del sitio web o la aplicación a los que acabe de acceder.</p>

            <li><h2>¿Cómo se le informará de las actualizaciones de la presente política?</h2></li>
                <p>Si modificamos o actualizamos esta política de privacidad, indicaremos claramente la fecha de modificación o actualización en esta página, a la cual podrá acceder en cualquier momento.
                    <br>
                    <br>
                Los cambios introducidos en la presente política de privacidad se harán efectivos inmediatamente después de la publicación de la nueva versión de esta página y se considerarán como comunicados una vez se hagan públicos.
                    <br>
                    <br>
                En caso de que una actualización de la Política de Privacidad implique un cambio importante en la forma en que tratamos sus datos de carácter personal, le concederemos un plazo razonable para evaluar la versión actualizada de la Política de Privacidad y sus consecuencias, antes de su entrada en vigor.
                </p>

                <li><h2>¿Cómo puede ponerse en contacto con nosotros?</h2></li>
                <p>
                A través de nuestro Formulario de Contacto, mediante el chat online o escribiendo a <a href="info@agentebitcoin.com">info@agentebitcoin.com</a>. 
                </p>
          </ol>
            </div>
        <p class="actualizacion">Fecha de Actualización: 20 de Julio de 2019</p>
        </div>

    </section>

    <!-- footer -->

    <footer>

        <div class="about-footer">

            <img class="logo-footer" src="/images/agentebitcoin.png " alt="agentebitcoin" />



            <p>

                Somos un conglomerado de agentes encargados de difundir y facilitar la Compra y Venta de criptomonedas en el Perú y Latinoamérica. Únete a nosotros y gana comisión en todas tus transacciones. Tu dinero está siempre protegido y las ganancias garantizadas.

            </p>



            <div class="iconos">
                <img src="/images/facebook.png " alt="facebook " />
                <img src="/images/twitter.png " alt="twitter " />
                <img src="/images/linkdin.png " alt="linkdin " />
                <img src="/images/youtube.png " alt="youtube " />
            </div>

        </div>



        <div class="contacto">

            <ul>

                <li class="head-li">

                    <img src="/images/ic-celular.png " alt="icono-celular " />Contacto

                </li>
                <li class="li-child">+51 998 308 759</li>
                <li class="li-child">+51 933 619 476</li>

            </ul>



            <ul>

                <li class="head-li">

                    <img src="/images/ic-ubicación.png " alt="icono-ubicación " /> Dirección

                </li>



                <li class="li-child">Calle Cuarenta 190, San Isidro, Lima, Perú</li>

            </ul>

        </div>



        <!-- Linea sepadadora -->



        <div class="line"></div>



        <!-- Linea sepadadora -->



        <div class="terminos">

            <ul>

                <li>
                    <a href="/aviso-legal">Términos y condiciones</a>
                </li>



                <li><a href="/aviso-legal/politicas-de-privacidad">Políticas de privacidad</a></li>


            </ul>

        </div>



        <!-- Linea sepadadora -->



        <div class="line"></div>



        <!-- Linea sepadadora -->



        <div class="horarios">

            <ul>

                <li class="head-li">

                    <img src="/images/ic-horarios.png " alt="icono-horario " />



                    <p>

                        Horario de <br /> Oficina

                    </p>

                </li>



                <li class="li-child"><span>L-V</span> 9am a 5pm</li>



                <li class="li-child"><span>Sáb</span> 9am a 1pm</li>



                <li id="tiny">2021 Agente bitcoin</li>

            </ul>

        </div>

    </footer>
    <!-- Script -->
    <script src="/js/app.js"></script>
    <!-- PHP -->
    <?php include ("../php/validacion-login.php") ?>
</body>



</html>