<!DOCTYPE html>

<html lang="es">



<head>

    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Registrarse en Agente Bitcoin | Compra y Vende Bitcoin en Perú</title>

    <meta name="description" content="Registrate en Agente Bitcoin. Comienza a comprar y vender Bitcoins con mucha seguridad y confianza desde Perú. " />

    <meta name="keywords" content="" />

    <meta name="geo.region" content="PE" />

    <meta name="geo.placename" content="Lima" />

    <meta name="DC.Language" scheme="RFC1766" content="Spanish" />

    <meta name="DC.language" scheme="ISO639-1" content="es" />

    <!-- OpenGraph -->
    <!-- Facebook -->
    <meta property="og:title" content="Comienza a invertir en Bitcoin | Agente Bitcoin">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://agentebitcoin.agenciaweb.pe/images/social/07Registro.jpg" />
    <meta property="og:url" content="https://agentebitcoin.agenciaweb.pe/registro.html"> 
    <meta property="og:description" content="Registrate en Agente Bitcoin. Comienza a comprar y vender Bitcoins con mucha seguridad y confianza desde Perú."> 
    <!-- Twitter -->
    <meta name=”twitter:title” content="Comienza a invertir en Bitcoin | Agente Bitcoin">
    <meta name=”twitter:card” content="summary with large image">
    <meta name="twitter:image" content="https://agentebitcoin.agenciaweb.pe/images/social/07Registro.jpg">
    <meta name="twitter:url" content="https://agentebitcoin.agenciaweb.pe/registro.html">
    <meta name="twitter:description" content="Registrate en Agente Bitcoin. Comienza a comprar y vender Bitcoins con mucha seguridad y confianza desde Perú.">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="" />
    <link rel="apple-touch-icon" sizes="114x114" href="" />
    <link rel="apple-touch-icon" sizes="72x72" href="" />
    <link rel="apple-touch-icon" href="" />
    <link rel="shortcut icon" href="/images/favicon-agentebitcoin.png" />

    <!-- CSS -->

    <link rel="stylesheet" href="/css/global-style.css" />
    <link rel="stylesheet" href="/css/landing-style.css" />
    <link rel="stylesheet" href="/css/landing-responsive.css" />
    <link rel="stylesheet" href="/css/registro.css" />
    <link rel="stylesheet" href="/css/registro-responsive.css" />

    <!-- Script-FontAwesome -->
    <script src="https://kit.fontawesome.com/660257203e.js" crossorigin="anonymous"></script>

</head>



<body>

    <header>

        <div class="container">

            <div class="logo">

                <a href="/" title="Inicio"><img src="/images/logo-agentebitcoin.svg" alt="Logo de Agente Bitcoin" /></a>

            </div>



            <nav class="botonera" id="botonera">

                <ul class="navegation">

                    <li><a href="/acercade" title="Acerca de Agente Bitcoin">Acerca de</a></li>

                    <li><a href="/soporte" title="Soporte">Soporte</a></li>

                    <li><a href="/noticias" title="Noticias">Noticias</a></li>

                </ul>



                <ul class="register">

                    <li><a href="#" id="login" title="Iniciar Sesión">Iniciar Sesión</a></li>



                    <li><a href="/registro" id="register" title="Registrarse">Registrarse</a></li>

                </ul>

            </nav>

            <span class="btn-menu" id="btn-menu"><i class="fas fa-bars"></i></span>

        </div>

    </header>
    <!-- POP UP DEL LOGIN -->

    <div class="overlay" id="overlay">
        <div class="popup-login" id="popup-login">
            <a href="#" id="popup-close" title="Cerrar" class="popup-close">
                <img src="/images/close.svg" alt="Cerrar" /></a>

            <div class="form-login">
                <form action="/login" method="POST">
                    <h3>Iniciar Sesión</h3>

                    <div class="datos-login-pop"> 
                                    <div> 
                                        <input class="email" type="email" id="correo-login" name="correo-login" placeholder="Correo Electrónico" />
                                        <!-- Alerta validación -->
                                        <p class="alert" style="display: none;" id="alert-correo"></p>
                                    </div>
                                    <div> 
                                        <input class="password" type="password" id="contraseña" name="contraseña" placeholder="Contraseña" />
                                        <!-- Alerta validación -->
                                        <p class="alert" style="display: none;" id="alert-contraseña"></p>
                                    </div>
                                </div>
                    <div class="succes">
                        <input type="submit" id="aceptar-login" name="aceptar-login" value="Entrar" />

                        <a id="forget-password" href="#" title="Olvidé mi contraseña">Olvidé mi contraseña</a>
                    </div>

                    <div class="opciones-login">
                        <a href="#" title="Inicia con Google"><img src="/images/login-google.png" alt="Google" />Inicia con Google
                        </a>

                        <a href="#" title="Inicia con Facebook"><img src="/images/login-fb.png" alt="Facebook" />Inicia con Facebook
                        </a>
                    </div>

                    <div class="register-option">
                        <div class="first">
                            <p>¿No tienes cuenta?</p>

                            <a href="/registro" title="Registrate aquí">Registrate aquí</a>
                        </div>

                        <p class="mini">2021 Agencia Bitcoin</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Registro -->
    <section class="registro-space">

        <div class="terminos-registro">
            <h3>La forma más segura de comprar Criptomonedas</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <p>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                </p>

            </form>
        </div>



        <div class="line-2"></div>



        <div class="register-form">
        
            {% block content %}
            <div class="container">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            
                {% block page_content %}{% endblock %}
            </div>
            {% endblock %}
            
            <form action="/registrocompleto" method="POST">

                <h3>Crear cuenta</h3>

                <div class="input-register">

                    <input type="email" id="correo-registro" name="correo-registro" placeholder="Correo Electrónico" />

                    <input type="password" id="pass-registro" name="pass-registro" placeholder="Contraseña" />

                    <input type="password" id="repeat-pass" name="repeat-pass" placeholder="Repite tu contraseña" />

                    <p class="alert" style="display:none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                </div>

                <div class="confirmacion">

                    <div class="aceptar-condiciones">

                        <div>

                            <input type="checkbox" name="aceptar-condiciones" id="aceptar-condiciones" />

                            <p>

                                Aceptar<a href="/aviso-legal" title="términos y condiciones">términos y condiciones</a>

                            </p>

                        </div>

                        <div>

                            <input type="checkbox" name="aceptar-lorem" id="aceptar-lorem" />

                            <p>Lorem ipsum dolor sit amet</p>

                        </div>

                    </div>

                    <input type="submit" id="aceptar-register" name="aceptar-register" value="Crear cuenta" />

                </div>

            </form>



            <div class="opciones-register">

                <div class="social-option">

                    <p>Ó registrate usando:</p>

                    <div class="redes-access">

                        <a href="#" title="Registrate con Google"><img src="/images/login-google.png" alt="google"/></a>

                        <a href="#" title="Registrate con Facebook"><img src="/images/login-fb.png" alt="Facebook"/></a>

                    </div>

                </div>



                <div class="login-option">

                    <p>¿Ya tienes cuenta?</p>

                    <a href="/login" title="Inicia sesión">Inicia sesión</a>

                </div>

            </div>

        </div>

    </section>

    <div class="author">
        <p>2021 Agencia Bitcoin</p>
    </div>



</body>

<!-- SCRIPTS -->

<script src="/js/app.js"></script>
<!-- PHP -->
<?php include("/php/validacion-login.php") ?>

</html>