<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Completo</title>
        <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="" />
    <link rel="apple-touch-icon" sizes="114x114" href="" />
    <link rel="apple-touch-icon" sizes="72x72" href="" />
    <link rel="apple-touch-icon" href="" />
    <link rel="shortcut icon" href="/images/favicon-agentebitcoin.png" />
    <!-- css -->
    <link rel="stylesheet" href="/css/registro-complete.css">
    <link rel="stylesheet" href="/css/global-style.css">
</head>
<body>
    <section class="mensaje-registro">
        <div> 
        <h1>Tu registro está completo</h1>

        <p>Revisa tu bandeja de correo electrónico y confirma tu cuenta para continuar.</p>
        </div>

        <p class="mini">2021 Agencia Bitcoin</p>
    </section>
</body>
</html>