<!DOCTYPE html>

<html lang="es">



<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soporte | Agente Bitcoin | Compra y Vende Bitcoin en Perú</title>
    <meta name="description" content="En Agente Bitcoin tendrás atención inmediata a tus consultas, gracias a nuestro equipo de asesores altamente capacitados. Compra y vende Bitcoins desde Perú." />
    <meta name="keywords" content="" />
    <meta name="geo.region" content="PE" />
    <meta name="geo.placename" content="Lima" />
    <meta name="DC.Language" scheme="RFC1766" content="Spanish" />
    <meta name="DC.language" scheme="ISO639-1" content="es" />

    <!-- OpenGraph -->

    <!-- Facebook -->
    <meta property="og:title" content="¿Dudas? Contáctanos | Agente Bitcoin">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://agentebitcoin.agenciaweb.pe/images/social/03soporte.jpg" />
    <meta property="og:url" content="https://agentebitcoin.agenciaweb.pe/soporte.php"> 
    <meta property="og:description" content="En Agente Bitcoin tendrás atención inmediata a tus consultas, gracias a nuestro equipo de asesores altamente capacitados. Compra y vende Bitcoins desde Perú."> 
    <!-- Twitter -->
    <meta name=”twitter:title” content="¿Dudas? Contáctanos | Agente Bitcoin">
    <meta name=”twitter:card” content="summary with large image">
    <meta name="twitter:image" content="https://agentebitcoin.agenciaweb.pe/images/social/03soporte.jpg">
    <meta name="twitter:url" content="https://agentebitcoin.agenciaweb.pe/soporte.php">
    <meta name="twitter:description" content="En Agente Bitcoin tendrás atención inmediata a tus consultas, gracias a nuestro equipo de asesores altamente capacitados. Compra y vende Bitcoins desde Perú.">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="" />
    <link rel="apple-touch-icon" sizes="114x114" href="" />
    <link rel="apple-touch-icon" sizes="72x72" href="" />
    <link rel="apple-touch-icon" href="" />
    <link rel="shortcut icon" href="/images/favicon-agentebitcoin.png" />

    <!-- styles -->
    <link rel="stylesheet" href="/css/global-style.css" />
    <link rel="stylesheet" href="/css/landing-style.css" />
    <link rel="stylesheet" href="/css/landing-responsive.css" />
    <link rel="stylesheet" href="/css/soporte.css" />

    <!-- Script-FontAwesome -->
    <script src="https://kit.fontawesome.com/660257203e.js" crossorigin="anonymous"></script>

</head>



<body>

    <header>

        <div class="container">

            <div class="logo">
                <a href="/"><img src="/images/logo-agentebitcoin.svg" alt="Logo Agente Bitcoin" /></a>

            </div>



            <nav class="botonera" id="botonera">

                <ul class="navegation">
                    <li><a href="/acercade" title="Acerca de Agente Bitcoin">Acerca de</a></li>
                    <li><a href="/soporte" class="selected" title="Soporte">Soporte</a></li>
                    <li><a href="/noticias" title="Noticias">Noticias</a></li>
                </ul>



                <ul class="register">
                    <li><a href="#" id="login" title="Iniciar Sesion">Iniciar Sesion</a></li>
                    <li>
                        <a href="/registro" id="register" title="Registrarse">Registrarse</a>
                    </li>

                </ul>

            </nav>

            <span class="btn-menu" id="btn-menu"><i class="fas fa-bars"></i></span>

        </div>

    </header>
    <!-- POP UP DEL LOGIN -->

    <div class="overlay" id="overlay">
        <div class="popup-login" id="popup-login">
            <a href="#" id="popup-close" title="Cerrar" class="popup-close">
                <img src="/images/close.svg" alt="Cerrar" />
            </a>

            <div class="form-login">
                <form action="/login" method="POST">
                    <h3>Iniciar Sesión</h3>
                    <div class="datos-login-pop"> 
                                    <div> 
                                        <input class="email" type="email" id="correo-login" name="correo-login" placeholder="Correo Electrónico" />
                                        <!-- Alerta validación -->
                                        <p class="alert" style="display: none;" id="alert-correo"></p>
                                    </div>
                                    <div> 
                                        <input class="password" type="password" id="contraseña" name="contraseña" placeholder="Contraseña" />
                                        <!-- Alerta validación -->
                                        <p class="alert" style="display: none;" id="alert-contraseña"></p>
                                    </div>
                                </div>
                    <div class="succes">
                        <input type="submit" id="aceptar-login" name="aceptar-login" value="Entrar" />

                        <a id="forget-password" title="Olvidé mi contraseña" href="#">Olvidé mi contraseña</a>
                    </div>

                    <div class="opciones-login">
                        <a href="#" title="Inicia con Google"><img src="/images/login-google.png" alt="Google"/>Inicia con Google
                        </a>

                        <a href="#" title="Inicia con Facebook"><img src="/images/login-fb.png" alt="Facebook"/>Inicia con Facebook
                        </a>
                    </div>

                    <div class="register-option">
                        <div class="first">
                            <p>¿No tienes cuenta?</p>
                            <a href="/registro" title="Registrate aquí">Registrate aquí</a>
                        </div>

                        <p class="mini">2021 Agencia Bitcoin</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- terminos y condiciones -->
    <section class="container-soporte">

        <ul>

            <li><a href="/" title="Inicio">Inicio</a></li>

            <li><a class="noline" href="#">></a></li>

            <li><a class="noline" href="soporte.php" title="Soporte">Soporte</a></li>

        </ul>

        <div class="soporte">

            <h1>Soporte</h3>

                <div class="contacto-soporte">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.3380899469116!2d-77.01496938457491!3d-12.088991445980296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c87f224e80bb%3A0xb5fb52b841907c29!2sAv.%20Javier%20Prado%20Este%201405%2C%20La%20Victoria%2015034!5e0!3m2!1ses-419!2spe!4v1624487220322!5m2!1ses-419!2spe "
                            style="border: 0" allowfullscreen="" loading="lazy"></iframe>
                    </div>

                    <div class="formulario-soporte">
                        <h4>Contáctanos</h4>

                        <form action="/php/contacto-db.php" method="POST">
                            <div class="names">
                                <div>
                                    <label for="nombres">Nombre(s):</label>

                                    <input id="nombres" type="text" id="nombres" name="nombres" placeholder="Ingrese sus nombres" required/>
                                </div>

                                <div>
                                    <label for="apellidos">Apellido(s):</label>

                                    <input id="apellidos" type="text" id="apellidos" name="apellidos" placeholder="Ingrese sus nombres" required/>
                                </div>
                            </div>

                            <div class="mail-phone">
                                <div>
                                    <label for="correo">Email:</label>

                                    <input id="correo" type="email" name="correo" placeholder="Ingrese su mail" required/>
                                </div>

                                <div>
                                    <label for="celular">Celular:</label>

                                    <input id="celular" type="cel" name="celular" placeholder="Ingrese su teléfono" minlength="9" maxlength="9" required/>
                                </div>
                            </div>

                            <label for="mensaje">Mensaje</label>

                            <textarea id="mensaje" name="mensaje" cols="30" rows="10" placeholder="Escriba su mensaje..." required></textarea>

                            <input id="enviar-mensaje" name="enviar-mensaje" type="submit" value="Enviar mensaje" />
                            <input type="hidden" name="origen" id="origen" value="1">
                            <!-- <div>
                                <p id="alerta">¡Gracias por contactarnos!</p>
                                <p id="bad-alerta">Error de base de datos</p>
                            </div> -->
                        </form>
                    </div>
                </div>
                <div class="info-contacto-soporte">
                    <div class="telefono-soporte">
                        <ul>
                            <li class="head-li">
                                <img src="/images/icono-blue-phone.svg" alt="Icono teléfono" />

                                <p>
                                    Teléfono
                                </p>
                            </li>

                            <li class="li-child">+51 998 308 759</li>

                            <li class="li-child">+51 933 619 476</li>
                        </ul>
                    </div>
                    <!-- Linea sepadadora -->

                    <div class="line-soporte"></div>

                    <!-- Linea sepadadora -->
                    <div class="horarios-soporte">
                        <ul>
                            <li class="head-li">
                                <img src="/images/ic-horarios-blue.svg" alt="Icono horario" />

                                <p>
                                    Horario de Oficina
                                </p>
                            </li>

                            <li class="li-child"><span>L-V</span> 9am a 5pm</li>

                            <li class="li-child"><span>Sáb</span> 9am a 1pm</li>

                        </ul>
                    </div>
                </div>


    </section>
    <!-- Footer -->
    <footer style="background-image: url(/images/footer-banner.png)">
        <div class="about-footer ">
            <img class="logo-footer " src="/images/agentebitcoin.png" alt="Agente Bitcoin" />

            <p>
                Somos un conglomerado de agentes encargados de difundir y facilitar la Compra y Venta de criptomonedas en el Perú y Latinoamérica. Únete a nosotros y gana comisión en todas tus transacciones. Tu dinero está siempre protegido y las ganancias garantizadas.
            </p>

            <div class="iconos ">
                <img src="/images/facebook.png" alt="Facebook" />

                <img src="/images/twitter.png" alt="Twitter" />

                <img src="/images/linkdin.png" alt="Linkdin" />

                <img src="/images/youtube.png" alt="Youtube" />
            </div>
        </div>

        <div class="contacto ">
            <ul>
                <li class="head-li ">
                    <img src="/images/ic-celular.png " alt="Icono de celular"/>Contacto
                </li>

                <li class="li-child ">+51 998 308 759</li>

                <li class="li-child ">+51 933 619 476</li>
            </ul>

            <ul>
                <li class="head-li ">
                    <img src="/images/ic-ubicación.png " alt="Icono de ubicación"/> Dirección
                </li>

                <li class="li-child ">Calle Cuarenta 190, San Isidro, Lima, Perú</li>
            </ul>
        </div>

        <!-- Linea sepadadora -->

        <div class="line "></div>

        <!-- Linea sepadadora -->

        <div class="terminos ">
            <ul>
                <li>
                    <a href="/aviso-legal" title="Términos y condiciones">Términos y condiciones</a>
                </li>

                <li>
                    <a href="/aviso-legal/politicas-de-privacidad" title="Políticas de privacidad">Políticas de privacidad</a>
      </li>

    </ul>
  </div>

  <!-- Linea sepadadora -->

  <div class="line"></div>

  <!-- Linea sepadadora -->

  <div class="horarios">
    <ul>
      <li class="head-li">
        <img src="/images/ic-horarios.png " alt="Icono horario " />

        <p>
          Horario de <br />
          Oficina
        </p>
      </li>

      <li class="li-child "><span>L-V</span> 9am a 5pm</li>

      <li class="li-child "><span>Sáb</span> 9am a 1pm</li>

      <li id="tiny ">2021 Agente bitcoin</li>
    </ul>
  </div>
</footer>
    <!-- php -->
    <?php 
    include("/php/contacto-db.php");
    ?>
    <!-- SCRIPTS -->
    <script src="/js/app.js"></script>
    <!-- PHP -->
    <?php include ("/php/validacion-login.php") ?>
</body>

</html>